* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
}
.signup-container {
  padding-left: 150px;
  padding-top: 80px;
}
.line-container {
  display: flex;
}
.line {
  border-bottom: solid red;
  height: 28px;
  width: 90px;
}
.sub-title {
  padding-left: 30px;
}
.signup-options {
  display: flex;
  gap: 20px;
  height: 50px;
}
.signup-option {
  width: 250px;
  border: solid lightgray 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.option-img {
  height: 20px;
  width: 20px;
  padding-left: 10px;
  padding-right: 30px;
}
.option-title {
  padding-right: 20px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 530px;
}
.signup-form {
  gap: 20px;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
}
.upper-two {
  width: 530px;
  gap: 20px;
  display: flex;
  flex-direction: row;
}
.input-container input {
  font-size: 1em;
  height: 30px;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 5px;
  color: grey;
  font-weight: lighter;
}
.terms-checkbox {
  display: flex;
  gap: 10px;
}
.checkbox {
  width: 15px;
  height: 15px;
}
.checkbox-text {
  width: 370px;
}
.signup-button {
  display: flex;
  flex-direction: column;
  border: none;
  background: none;
  width: fit-content;
  cursor: pointer;
}
.submit-img {
  height: 50px;
  width: 60px;
}
.sign-in {
  font-size: small;
  padding-top: 40px;
}
.sign-in-btn {
  cursor: pointer;
  border: none;
  background: none;
  color: red;
  font-size: small;
}
.container-image {
  padding: 60px 150px;
  height: 600px;
}

.error {
  margin: 0;
  font-size: 12px;
  color: red;
  font-weight: 100;
}
.title {
  color: purple;
  font-size: 25px;
}

.success-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
